*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
{% if 'etcd' in group_names %}
-A INPUT -p tcp -m state --state NEW -m tcp --dport 2379 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 2380 -j ACCEPT
{% endif %}
{% if 'masters' in group_names %}
-A INPUT -p tcp -m state --state NEW -m tcp --dport 6443 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 10251 -j ACCEPT
-A INPUT -p tcp -m state --state NEW -m tcp --dport 10252 -j ACCEPT
{% endif %}
{% if 'nodes' in group_names %}
-A INPUT -p tcp -m state --state NEW -m tcp --dport 30000:32767 -j ACCEPT
{% endif %}
{% if 'k8s_cluster' in group_names %}
-A INPUT -p tcp -m state --state NEW -m tcp --dport 10250 -j ACCEPT
{% endif %}
-A FORWARD -m state --state RELATED,ESTABLISHED -j ACCEPT
COMMIT
