{
    "bip": "172.31.255.1/24",
    "exec-opts": [
        "native.cgroupdriver=systemd"
    ],
{% if ansible_distribution != 'Debian' %}
    "hosts": [
        "fd://",
        "unix:///var/run/docker.sock"
    ],
{% endif %}
    "storage-driver": "overlay2"
}
